
/*CSS PERFIL*/
*{
	font-family: "Century Gothic";
}
.row {
	margin-left: 25%;
}
.wp-image-605{
	margin-top: 15px;
	margin-bottom: 40px;
	margin-right: 300px;
	width: 180px; 
	height: 200px;
}
.title h1{
	font-family: 'century Gothic';
	color: white;
	margin-top: 180px;
}
.intParra{
	font-family: 'Century Gothic';
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
}
.areainteres{
	margin-top: 20px;
	margin-right: 80px;
}
.form-control{
	margin-top: 20px;
}
textarea {
	width: 100%;
}
.next {
    background-color: #D7232C;
    border: 2px solid #D7232C;
    font-family: 'Century Gothic';
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
.omitir{
	background-color: #D7232C;
    border: 2px solid #D7232C;
    font-family: 'century Gothic';
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
/*RESPONSIVE PERFIL*/
